@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome on your Wish Book List! </h1>
    <p>You can add some wish books at the simply way.</p>
    <img src="https://cdn.pixabay.com/photo/2017/07/15/22/07/library-2507902_960_720.jpg" alt="Library from Dublin" width="900" height="400">
</div>
